<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

<header>
<h1>TinyApp</h1>
</header>

  <form method="POST" action="/login">
    <label for="email">Email:</label>
    <input id="email" type="email" name="email">
    <label for="password">Password:</label>
    <input id="password" type="password" name="password">
    <input type="submit" value="Login">
  </form>
</body>
</html>